extends layout

block content
    h1 longo query
    div(id='query-container')
        button(id='btn-query' style='font-size:1.2em;') query
        form(id='form-query')
            fieldset
                legend scheme
                label phase:
                    input(id='phase', type='text', value='local' placeholder='phase. ex) local | alpha | beta | production')
                hr
                label bucket:
                    input(id='bucket', type='text', value='user-request-log' placeholder='bucket. ex) user-request-log | api-external')
                hr
                label limit:
                    input(id='limit', type='text', value=20)
            fieldset
                legend query
                textarea(id='q') {}
            fieldset
                legend column
                textarea(id='c') {}
    div(id='result-container')
        fieldset
            legend result
            label total count:
                span(id='total-count') 0
                span 건
            textarea(id='res', style='height:400px;')

    script(type='text/javascript', src='https://cdn.jsdelivr.net/jquery/3.1.0/jquery.min.js')
    script(type='text/javascript').
        $('#btn-query').click(function(e){
            var url = '/log/' + $('#phase').val() + '/' + $('#bucket').val();
            var data = {
                q: $('#q').val(),
                c: $('#c').val(),
                limit: $('#limit').val()
            };
            $.get(url, data, function(res){
                location.href = '#res';
                $('#total-count').text(res.length);
                $('#res').val(JSON.stringify(res, null, 4));
            }).fail(function(res){
                location.href = '#res';
                $('#total-count').text(0);
                $('#res').val(JSON.stringify(res, null, 4));
            });
        });