extends layout

block content
    h1 longo query
    div(id='query-container')
        button(id='btn-query' style='font-size:1.2em;') query
        form(id='form-query')
            fieldset
                legend scheme
                label phase:
                    each phase in phases
                        label
                            input(type='radio', name='phase', value=phase.value)
                            | #{phase.name}
                hr
                label bucket:
                    each bucket in buckets
                        label
                            input(type='radio', name='bucket', value=bucket.value)
                            | #{bucket.name}
                hr
                label limit:
                    input(id='limit', type='text', value=20)
            fieldset
                legend query
                textarea(id='q') {}
            fieldset
                legend column
                textarea(id='c') {}
    div(id='result-container')
        fieldset#res
            legend result
            div(data-ax5grid='result-grid', data-ax5grid-config='{}', style='height:500px;')

    script(type='text/javascript').
        $(function(){
            var resultGrid = new ax5.ui.grid();
            initResultGrid();

            function initResultGrid(dynamicColumns) {
                resultGrid.setConfig({
                    target: $('[data-ax5grid="result-grid"]'),
                    columns: dynamicColumns || [{ key: 'dummy', label: 'dummy' }]
                });
            }

            $('#btn-query').click(function(e){
                var phase  = $('[name="phase"]:checked').val();
                var bucket = $('[name="bucket"]:checked').val();
                if (_.isEmpty(phase) || _.isEmpty(bucket)) {
                    alert('select phase and bucket.');
                    return;
                }

                var url = '/log/' + phase + '/' + bucket;
                var data = {
                    q: $('#q').val(),
                    c: $('#c').val(),
                    limit: $('#limit').val()
                };
                $.get(url, data, function(res){
                    location.href = '#res';

                    if (_.isEmpty(res)) {
                        initResultGrid();
                        return;
                    }

                    var dynamicColumns = _.map(res[0], function(val, key){
                        return { 'key': key, 'label': key };
                    });
                    initResultGrid(dynamicColumns);
                    resultGrid.setData(res);
                }).fail(function(res){
                    location.href = '#res';
                    initResultGrid([{ key: 'error', label: 'error' }]);
                    resultGrid.setData([ { error: res } ]);
                });
            });
        });